<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} - libert.xyz </title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "head_includes.html" . }}
    <link rel="Noshortcut icon" href="/Nofavicon.ico" type="image/x-icon" />
    <link rel="Noapple-touch-icon" href="/Noapple-touch-icon.png" />
</head>
