        <ul id="mainnav">
            <!-- <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> blog </span>
            </a>
            </li> -->
            <li>
            <a href="/post/">

                 <span class="icon">
                   <img src="/media/icons/terminal.png" alt="icon name">
                </span>

                <span> blog </span>
            </a>
            </li>
            <!-- <li>
            <a href="/presentation/">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> talks </span>
            </a>
            </li> -->
            <li>
            <a href="http://stevefrancia.com">
                <span class="icon">
                  <img src="/media/icons/about.png" alt="icon name">
               </span>

                <span> about </span>
            </a>
            </li>
        </ul>
