<ul id="social">
    <li id="follow">
        <span class="icon icon-rocket"> </span>
        <span class="title">Social</span>
        <div class="dropdown follow">
            <ul class="social">
                <li> <a href="https://twitter.com/rschmidt_z" target="_blank" title="Follow me on Twitter" class="github"><img src="/media/icons/twitter.png" alt="" /> Twitter</a> </li>
                <li> <a href="https://www.linkedin.com/in/rschmidtz" target="_blank" title="LinkedIn" class="github"><img src="/media/icons/linkedin.png" alt="" /> LinkedIn</a> </li>
                <li> <a href="https://github.com/rschmidtz" target="_blank" title="GitHub" class="github"><img src="/media/icons/github.png" alt="" /> GitHub</a> </li>
                <li> <a href="https://www.flickr.com/photos/130320272@N04/" target="_blank" title="Flickr" class="github"><img src="/media/icons/flickr.png" alt="" /></span> Flickr</a> </li>
            </ul>
            <span class="subcount">Follow Me</span>
        </div>
    </li>
</ul>
